extends layout

block content

  script(src='/socket.io/socket.io.js', type='text/javascript')

  div#sunaba
    h2#room_name= room.name

    div#my.my
      span.name {{name}}
      span.id {{id}}

    div#player.player
      audio(controls autobuffer)#audio
      ul#playlist
        li(v-repeat='playlist') {{name}}
      div(v-on='drop: drop($event), dragover: dragOver($event), dragleave: dragLeave($event)')#dropzone.dropzone
        div#dropzone-progress.progress

    ul#userlist.userlist
      li(v-repeat='userlist') {{id}}
