extends layout

block content
  script(src='/javascripts/vue.min.js'  type='text/javascript')
  script(src='/javascripts/peer.min.js' type='text/javascript')
  script(src='/javascripts/sunaba.js'   type='text/javascript' async defer)
  script(src='/socket.io/socket.io.js'  type='text/javascript')
    
  h1= title
  p Welcome to #{title}
  div#sa
    ul#sa_userlist.sa-userlist
      li(v-repeat='userlist') {{name}}
    input(type='text' value='{{my.id}}')
